<div class="converter">
  <div class="converterBlock">
    <label>I have</label>
    <input type="number" [(ngModel)]="amount1" (input)="onAmount1Input()" />
    <select [(ngModel)]="selectedCurrency1" (change)="updateExchangeRates()">
      <option *ngFor="let currency of currencies" [value]="currency.cc">
        {{ currency.cc }}
      </option>
    </select>
  </div>

  <div class="converterBlock">
    <label>I will get</label>
    <input type="number" [(ngModel)]="amount2" (input)="onAmount2Input()" />
    <select [(ngModel)]="selectedCurrency2" (change)="updateExchangeRates()">
      <option *ngFor="let currency of currencies" [value]="currency.cc">
        {{ currency.cc }}
      </option>
    </select>
  </div>
</div>
