/* You can add global styles to this file, and also import other style files */
body {
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
}

body {
  background-image: url("./assets/WP1.jpg");
  background-size: cover;
  background-repeat: repeat;
}
